-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('super_admin', 'cell_leader');

-- CreateEnum
CREATE TYPE "MaritalStatus" AS ENUM ('single', 'married', 'undisclosed');

-- CreateEnum
CREATE TYPE "MemberStatus" AS ENUM ('pending_approval', 'active', 'inactive');

-- CreateEnum
CREATE TYPE "FollowUpType" AS ENUM ('visit', 'call', 'message');

-- CreateEnum
CREATE TYPE "ServiceType" AS ENUM ('sunday', 'midweek', 'cell_meeting');

-- CreateEnum
CREATE TYPE "ApprovalStatus" AS ENUM ('pending', 'approved', 'rejected');

-- CreateEnum
CREATE TYPE "NotificationType" AS ENUM ('birthday', 'reminder', 'approval');

-- CreateEnum
CREATE TYPE "MemberJourneyStatus" AS ENUM ('new', 'contacted', 'engaged', 'foundation', 'active_member', 'potential_leader');

-- CreateEnum
CREATE TYPE "RotaServiceType" AS ENUM ('sunday', 'wednesday');

-- CreateEnum
CREATE TYPE "RotaRole" AS ENUM ('opening_prayer', 'rhapsody_reading', 'closing_announcements');

-- CreateEnum
CREATE TYPE "ImportStatus" AS ENUM ('pending', 'parsed', 'committed', 'failed');

-- CreateTable
CREATE TABLE "users" (
    "id" SERIAL NOT NULL,
    "email" TEXT NOT NULL,
    "password_hash" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "phone" TEXT,
    "role" "UserRole" NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cell_groups" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "leader_id" INTEGER,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "cell_groups_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "members" (
    "id" SERIAL NOT NULL,
    "first_name" TEXT NOT NULL,
    "last_name" TEXT NOT NULL,
    "email" TEXT,
    "phone" TEXT,
    "address" TEXT,
    "birthday" TIMESTAMP(3),
    "marital_status" "MaritalStatus" NOT NULL DEFAULT 'undisclosed',
    "brought_by" TEXT,
    "date_joined" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "cell_group_id" INTEGER,
    "assigned_leader_id" INTEGER,
    "foundation_school_completed" BOOLEAN NOT NULL DEFAULT false,
    "foundation_school_date" TIMESTAMP(3),
    "status" "MemberStatus" NOT NULL DEFAULT 'pending_approval',
    "journey_status" "MemberJourneyStatus" NOT NULL DEFAULT 'new',
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "user_id" INTEGER,

    CONSTRAINT "members_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "follow_ups" (
    "id" SERIAL NOT NULL,
    "member_id" INTEGER NOT NULL,
    "leader_id" INTEGER NOT NULL,
    "type" "FollowUpType" NOT NULL,
    "notes" TEXT,
    "follow_up_date" TIMESTAMP(3) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "follow_ups_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "attendance" (
    "id" SERIAL NOT NULL,
    "member_id" INTEGER NOT NULL,
    "service_date" TIMESTAMP(3) NOT NULL,
    "service_type" "ServiceType" NOT NULL,
    "attended" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "attendance_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "notifications" (
    "id" SERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "type" "NotificationType" NOT NULL,
    "read" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "notifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pending_approvals" (
    "id" SERIAL NOT NULL,
    "member_id" INTEGER NOT NULL,
    "requested_by" INTEGER NOT NULL,
    "status" "ApprovalStatus" NOT NULL DEFAULT 'pending',
    "reviewed_by" INTEGER,
    "reviewed_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "pending_approvals_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "password_reset_tokens" (
    "id" SERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "token_hash" TEXT NOT NULL,
    "expires_at" TIMESTAMP(3) NOT NULL,
    "used_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "password_reset_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "imports" (
    "id" SERIAL NOT NULL,
    "filename" TEXT NOT NULL,
    "file_path" TEXT NOT NULL,
    "file_type" TEXT NOT NULL,
    "status" "ImportStatus" NOT NULL DEFAULT 'pending',
    "row_count" INTEGER,
    "created_by" INTEGER NOT NULL,
    "parsed_data" JSONB,
    "errors" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "imports_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "rota" (
    "id" SERIAL NOT NULL,
    "service_date" TIMESTAMP(3) NOT NULL,
    "service_type" "RotaServiceType" NOT NULL,
    "notes" TEXT,
    "created_by_id" INTEGER NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "rota_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "rota_assignments" (
    "id" SERIAL NOT NULL,
    "rota_id" INTEGER NOT NULL,
    "role" "RotaRole" NOT NULL,
    "user_id" INTEGER,
    "name" TEXT,

    CONSTRAINT "rota_assignments_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "members_user_id_key" ON "members"("user_id");

-- CreateIndex
CREATE INDEX "members_cell_group_id_idx" ON "members"("cell_group_id");

-- CreateIndex
CREATE INDEX "members_assigned_leader_id_idx" ON "members"("assigned_leader_id");

-- CreateIndex
CREATE INDEX "follow_ups_member_id_idx" ON "follow_ups"("member_id");

-- CreateIndex
CREATE INDEX "follow_ups_leader_id_idx" ON "follow_ups"("leader_id");

-- CreateIndex
CREATE INDEX "attendance_service_date_idx" ON "attendance"("service_date");

-- CreateIndex
CREATE UNIQUE INDEX "attendance_member_id_service_date_service_type_key" ON "attendance"("member_id", "service_date", "service_type");

-- CreateIndex
CREATE INDEX "notifications_user_id_idx" ON "notifications"("user_id");

-- CreateIndex
CREATE INDEX "pending_approvals_member_id_idx" ON "pending_approvals"("member_id");

-- CreateIndex
CREATE INDEX "pending_approvals_requested_by_idx" ON "pending_approvals"("requested_by");

-- CreateIndex
CREATE INDEX "pending_approvals_reviewed_by_idx" ON "pending_approvals"("reviewed_by");

-- CreateIndex
CREATE INDEX "password_reset_tokens_user_id_idx" ON "password_reset_tokens"("user_id");

-- CreateIndex
CREATE INDEX "password_reset_tokens_token_hash_idx" ON "password_reset_tokens"("token_hash");

-- CreateIndex
CREATE INDEX "password_reset_tokens_expires_at_idx" ON "password_reset_tokens"("expires_at");

-- CreateIndex
CREATE INDEX "imports_created_by_idx" ON "imports"("created_by");

-- CreateIndex
CREATE INDEX "imports_status_idx" ON "imports"("status");

-- CreateIndex
CREATE INDEX "rota_service_date_idx" ON "rota"("service_date");

-- CreateIndex
CREATE INDEX "rota_service_type_idx" ON "rota"("service_type");

-- CreateIndex
CREATE UNIQUE INDEX "rota_service_date_service_type_key" ON "rota"("service_date", "service_type");

-- CreateIndex
CREATE INDEX "rota_assignments_rota_id_idx" ON "rota_assignments"("rota_id");

-- CreateIndex
CREATE INDEX "rota_assignments_user_id_idx" ON "rota_assignments"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "rota_assignments_rota_id_role_key" ON "rota_assignments"("rota_id", "role");

-- AddForeignKey
ALTER TABLE "cell_groups" ADD CONSTRAINT "cell_groups_leader_id_fkey" FOREIGN KEY ("leader_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "members" ADD CONSTRAINT "members_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "members" ADD CONSTRAINT "members_cell_group_id_fkey" FOREIGN KEY ("cell_group_id") REFERENCES "cell_groups"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "members" ADD CONSTRAINT "members_assigned_leader_id_fkey" FOREIGN KEY ("assigned_leader_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "follow_ups" ADD CONSTRAINT "follow_ups_member_id_fkey" FOREIGN KEY ("member_id") REFERENCES "members"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "follow_ups" ADD CONSTRAINT "follow_ups_leader_id_fkey" FOREIGN KEY ("leader_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "attendance" ADD CONSTRAINT "attendance_member_id_fkey" FOREIGN KEY ("member_id") REFERENCES "members"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notifications" ADD CONSTRAINT "notifications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pending_approvals" ADD CONSTRAINT "pending_approvals_member_id_fkey" FOREIGN KEY ("member_id") REFERENCES "members"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pending_approvals" ADD CONSTRAINT "pending_approvals_requested_by_fkey" FOREIGN KEY ("requested_by") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pending_approvals" ADD CONSTRAINT "pending_approvals_reviewed_by_fkey" FOREIGN KEY ("reviewed_by") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "password_reset_tokens" ADD CONSTRAINT "password_reset_tokens_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "imports" ADD CONSTRAINT "imports_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "rota" ADD CONSTRAINT "rota_created_by_id_fkey" FOREIGN KEY ("created_by_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "rota_assignments" ADD CONSTRAINT "rota_assignments_rota_id_fkey" FOREIGN KEY ("rota_id") REFERENCES "rota"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "rota_assignments" ADD CONSTRAINT "rota_assignments_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

